.search {
  z-index: 1;
  position: absolute;
  top: 0;
  transition: transform ease-in-out 400ms;
  width: 100%;
  padding: 0.25rem;

  &--is-hidden {
    transform: translateY(-75%);
  }

  @media screen and (min-width: 768px) {
    width: 33.3%;
    padding: 1rem;
  }

  @media screen and (min-width: 1024px) {
    width: 25%;
  }

  @media screen and (max-width: 768px) {
    .box {
      padding: 0.5rem;
    }
  }
}

.search-hide {
  opacity: 100;
  transition: opacity ease-in-out 400ms;
  text-align: center;
  margin: 1rem 0 0.5rem;
  display: block;
  width: 100%;

  &--is-hidden {
    opacity: 0;
  }
}
.location-list {
  list-style-type: none;
  margin: 0;
}

.location-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  p {
    margin-bottom: 0;
  }

  button {
    margin: 0 0.5rem;
  }
}

.suggestion {
  margin: 0.5rem 0;
}
