.search {
  z-index: 1;
  position: relative;
  width: 20%;
  padding: 1rem;
  margin: 1rem;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }
  }
}
